*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

header{
    background-color: rgb(90, 203, 245);
    color: #fff;
    background-image: url(../img/pattern.png);
    background-size: 280px;
}

#The{
    padding-top: 30px;
    padding-left: 25px;
    font-weight: lighter;
}

#Booleaner{
    padding-left: 10px;
    padding-bottom: 20px;
    font-weight: lighter;
    line-height: 0%;
}

#Titolo-principale{
    padding-top: 20px;
}

.informazioni{
    color: gray;
}

#autore{
    color: rgb(73, 205, 238);
    display: inline;
}

.Tim{
    padding-top: 20px;
}

.photo-information{
    font-weight: 100px;
    color: rgb(56, 55, 55);
}